.gridcontainer {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
}
.title {
    font-size: 120%;
    margin-bottom: 3px;
    /*font-style: italic;*/
    color: #155724;
    background-color: #d4edda;
}
.checkoutline {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr 1fr 0.1fr 1fr;
    color: #155724;
    /* background-color: #d4edda;*/
    border-color: #c3e6cb;
    margin-top: 5px;
}
.checkoutbutton {
    font-size: 110%;
    padding: 2px;
    position: relative;
    border: none;
    text-align: center;
    background-color: #28a745;
    color: white;
}

.cancelbutton {
    font-size: 110%;
    padding: 2px;
    position: relative;
    border: none;
    text-align: center;
    color: #fff;
    background-color: #dc3545;
}
