.imgzoomcontainer {
    position: relative;
}

.imgzoomlens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.imgzoomresult {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
}

.imghover {
    transform: scaleX(-1);
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* width: 120%;*/
    transition: ease-in 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
.bgimage {
    /* The image used */
    background-image: url('/uploads/6d24b02bfe7e19cccb870933a2126816');

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 700px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Position text in the middle of the page/image */
.bgtext {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
