.show {
    padding-top: 3%;
    text-align: center;
    font-style: italic;
    opacity: 1;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 6px;
    /*width: 100px;
    height: 100px;**/
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.hidden {
    opacity: 0;
    color: white;
    /*  background-color: white;
    border-color: white;
    /*width: 0;
    height: 0;*/
    transition: opacity 0.5s, color 0.5s, background-color 0.5s,
        border-color 0.5s;
}
.addline {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.atctbtn {
    border-radius: 6px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
