.ordertitle {
    font-style: italic;
    background-color: #c3e6cb;
}
.link {
    color: #007bff;
    font-style: italic;
}
.key {
    font-style: italic;
    color: grey;
}
.des {
    font-size: 90%;
    color: #dee2e6;
    text-decoration: none;
}

.des:hover {
    color: #0056b3;
    text-decoration: none;
}

.commentwrap {
    overflow-wrap: break-word;
}
.comment {
    font-style: italic;
    overflow: hidden;
    word-wrap: break-word;
}

.fadein {
    font-style: italic;
    opacity: 1;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    /*width: 100px;
    height: 100px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;*/
}

.fadeout {
    opacity: 0;
    color: white;
    /*  background-color: white;
    border-color: white;
    /*width: 0;
    height: 0;*/
    transition: opacity 0.5s, color 0.5s, background-color 0.5s,
        border-color 0.5s;
}
